.logo{
    width: 20px;
}


.main{
    background:#e3e3e3;
    width: 730px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
}


.page-title{
    text-align: center;
}

